@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/JosefinSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #38806a;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  background: #fdf1d6;
  line-height: 1.6;

  display: flex;
  flex-flow: column;
}

header {
  width: 100%;
  background: #fdf1d6;
  margin: 1rem;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.translation {
  text-transform: uppercase;
}

#top-logo img {
  width: 14rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

nav {
  margin-bottom: 3rem;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1.5rem;
}

nav li a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #13273b;
  text-decoration: none;
}

nav li a:hover {
  color: #000;
  text-decoration: underline;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #13273b;
  font-size: 4rem;
  margin-top: 12rem;
}

main {
  padding: 2em;
}

footer {
  background: #38806a;
  color: #fff;
  font-size: small;

  padding: 3rem 2rem 2rem 2rem;

  display: flex;
  flex-flow: column;
}

.footer-section {
  margin-bottom: 3em;
}

footer a {
  color: #fff;
}

.social-media {
  width: 2rem;
}

@media (min-width: 45rem) {
footer {

  padding: 3rem 2rem 2rem 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

main {
  width: 30em;
  padding-left: 16%;
}

}