<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bagar Bengtsson!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" type="text/css" href="{{ `css/style.css` | absURL }}">
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
      {{ end }}
    {{ end }}
  </head>
  <body>
    <header>
      <div class="nav horizontal-align">
        {{ with .GetPage "about" }}
          <div class="nav-item"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        {{ end }}
        {{ with .GetPage "opening-hours" }}
          <div class="nav-item"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        {{ end }}
        {{ with .GetPage "prices" }}
        <div class="nav-item"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        {{ end }}
        {{ with .GetPage "contact" }}
        <div class="nav-item"><a href="{{ with .GetPage "contact" }}{{ .Permalink }}{{ end }}">{{ .Title }}</a></div>
        {{ end }}
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <div class="nav-item"><a href="{{ .Permalink }}"><img class="flag" src="{{ .Language.Params.FlagPath | absURL }}" height="10em"/>{{ .Language.LanguageName }}</a></div>
      {{ end }}
    {{ end }}
      </div>
	</header>
	<main>
	  {{ block "main" . }}
    {{ end }}
	</main>
  </body>
</html>