<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <!-- TODO Add robots keywords -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" sizes="any" type="image/svg+xml" href="{{ `images/favicon.svg` | relURL }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    {{ $styleNorm := resources.Get "css/normalize.css" | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $styleNorm.Permalink }}">
    {{ $styleMain := resources.Get "css/backaboulder.css" | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $styleMain.Permalink }}">

    {{ if .IsTranslated }}
      {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}"/>
      {{ end }}
    {{ end }}
  </head>
  <body>
    <div class="header-and-main">
    {{ partial "header" . }}
    <main>
      <div id="main-container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    </div>
    {{ partial "footer" . }}
  </body>
</html>