<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <!-- TODO Add robots keywords -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" sizes="any" type="image/svg+xml" href="{{ `images/favicon.svg` | relURL }}">

    <!-- Non blocking font loading https://css-tricks.com/how-to-load-fonts-in-a-way-that-fights-fout-and-makes-lighthouse-happy/ -->
    {{ $fontsCssUrl := "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&family=Open+Sans&display=swap" }}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="{{ $fontsCssUrl }}" />
    <link rel="stylesheet" href="{{ $fontsCssUrl }}" media="print" onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" href="{{ $fontsCssUrl }}" />
    </noscript>

    {{ $styleNorm := resources.Get "css/normalize.css" | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $styleNorm.Permalink }}">
    {{ $styleMain := resources.Get "css/backaboulder.css" | minify | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $styleMain.Permalink }}">

    <link rel="alternate" hreflang="{{ .Site.Language.Lang }}" href="{{ .Page.Permalink }}" title="{{ .Site.Language.LanguageName }}"/>
    {{ if .IsTranslated }}
      {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}"/>
      {{ end }}
    {{ end }}
  </head>
  <body>
    {{ partial "header" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <div id="wall-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 79.15 142.8" preserveAspectRatio="xMaxYMin meet">
        <g>
          <path class="a" d="M0 142.83l79.1-.002V.028z" fill="#377a66"/>
          <path class="b" d="M0 142.83l50.18-26.27L79.14.06z" fill="#3f8d74"/>
          <path class="c" d="M79.06 0L50.14 116.5l28.92 26.27z" fill="#336e5e"/>
        </g>
      </svg>
    </div>
    {{ partial "footer" . }}
  </body>
</html>