@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/JosefinSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #38806a;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  background: #fdf1d6;
  line-height: 1.6;

  display: flex;
  flex-flow: column;

  background-image: url("../images/wall-top-left.svg");
  background-repeat: no-repeat;
  background-size: 21rem;
}

header {
  margin: 1rem;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  z-index: 1;
}

.translation {
  text-transform: uppercase;
}

#top-logo img {
  width: 6.4rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

nav {
  margin-bottom: 3rem;
}

nav ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li, nav span {
  margin-right: 0.5rem;
}

nav li a, nav span {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #13273b;
  font-size: 1.1rem;

  text-decoration: none;
}

nav li a:hover {
  color: #000;
  text-decoration: underline;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #13273b;
  font-size: 3.6rem;
  margin-top: 2rem;
  line-height: 1;
}

#main-container {

}

main {
  width: 100%;
  padding: 2em;
  box-sizing: border-box;

  background-image: url("../images/wall-bottom-right.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10rem;
}

footer {
  background: #38806a;
  color: #fff;
  font-size: small;

  padding: 3rem 2rem 2rem 2rem;

  display: flex;
  flex-flow: column;
}

.footer-section {
  margin-bottom: 3em;
}

footer a {
  color: #fff;
}

.social-media {
  width: 2rem;
}

address {
  font-style: normal;
}

@media (min-width: 45rem) {
  footer {

    padding: 3rem 2rem 2rem 2rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  #main-container {
    width: 30rem;
    margin-left: 16%;
  }
}

@media (min-width: 45rem) {
  body {
    background-size: 25rem;
  }

  main {
    background-size: 15rem;
  }

  nav ul {
    flex-flow: row wrap;
  }

  nav li, nav span {
    margin-right: 1.35rem;
  }

  header {
    align-items: center;
  }

  #top-logo img {
    width: 7.5rem;
  }
}