html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #38806a;
}

body {
  width: 100%;
  background: #fdf1d6;

  color:#1c4035;

  display: flex;
  flex-flow: column;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #38806a;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
}

h1:hover {
  color: #f7c554;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #38806a;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 2.6rem;
}

h2:hover {
  color: #f7c554;
}

tr {
  border-bottom: 0.1rem solid #ffe096;
}

td {
  padding-right: 3rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.translation {
  text-transform: uppercase;
}

.price {
  text-align: right;
}

#wall-top {
  width: 80%;
}

#wall-bottom {
  position: relative;
  width: 100%;
}

#wall-bottom svg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20rem;
}

header nav {
  position: relative;
  margin-top: 0.25rem;
  margin-bottom: 3rem;
  float: right;
  z-index: 1;
}

header ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

header li, header span {
  margin-right: 0.5rem;
}

header li a, header span {
  color: #38806a;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;

  text-decoration: none;
  text-transform: uppercase;
}

header li a:hover {
  color: #38806a;
  text-decoration: underline;
}

header li a:active {
  color: #f7c554;
  text-decoration: underline;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  top: 1rem;
  padding: 0 2rem 0 2rem;
  z-index: 10;
  margin-bottom: 5rem;
}

footer {
  background: #38806a;
  color: #fff;
  font-size: small;

  padding: 3rem 2rem 2rem 2rem;

  display: flex;
  flex-flow: column;
}
.footer-section {
  margin-bottom: 3em;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #f7c554;
}

.social-media {
  width: 2rem;
}

address {
  font-style: normal;
}

#alles:hover .a {
  fill: #fae6b4ff;
}

#alles:hover .b {
  fill: #fad787ff;
}

#alles:hover .c {
  fill: #edd291ff;
}

#wall-bottom g:hover .a {
  fill: #e1a62a;
}

#wall-bottom g:hover .b {
  fill: #f7c554;
}

#wall-bottom g:hover .c {
  fill: #c89b35;
}

@media (min-width: 45rem) {
  footer {
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: 46rem) {
  #wall-top {
    width: 30rem;
  }

  #wall-bottom svg {
    width: 26rem;
    height: 26rem;
  }

  main {
    width: 30rem;
    left: 15%;
    padding: 0;
    top: 8rem;
    margin-bottom: 10rem;
  }

  header nav {
    margin-top: 1.8rem;
  }

  header ul {
    flex-flow: row wrap;
  }

  header li, header span {
    margin-right: 1.35rem;
  }
}
