<div id="footer">
  <div class="container" style="z-index: 10;">
  <div  class="row">
    <div class="six columns">

      <a href="https://www.facebook.com/Backa-Boulder-100431848484291/"><img src="{{ `images/f_logo_RGB-White_58.png` | relURL }}" width="30" class="social-media"/></a>
      <a href="https://www.instagram.com/backaboulder"><img src="{{ `images/instagram.png` | relURL }}" width="30" class="social-media"/></a>
      <br/>
      {{ i18n "mailUs" }} <a href="mailto:info@backaboulder.se">info@backaboulder.se</a><br/>
      {{ i18n "callUs" }} <a href="tel:+4670123456">+46 (0)70 123 456</a><br/>

    </div>
    <div class="six columns">
      <a href="facebook.com"><img src="{{ `images/tram.png` | relURL }}" width="30" class="social-media"/></a>
      <br/>
      {{ i18n "visitUs" }}<br/>
      {{ i18n "weekdays" }} {{ .Site.Data.opening.weekdays }} {{ i18n "and" }} {{ i18n "weekends" }} {{ .Site.Data.opening.weekends }}<br/>
      <a href="https://goo.gl/maps/jngym8npmCcrqyB76">
      Spårvagnsvägen 1<br/>
      123 45 Hisingen<br/>
      </a>
      <br/>
    </div>
  </div>
  </div>
</div>