<footer>
  <div id="footer-navigation" style="width: 3.9rem; margin-bottom: 2rem; display: flex; flex-flow: column">

    <svg id="footer-logo" style="width: 4rem;" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 865.47 673.97">
      <style>.D{letter-spacing:-0.02em}.E{letter-spacing:-0.05em}</style>
      <path d="M82.9.02h295.74c37.75 0 60.27 42.07 39.33 73.49L71.4 593.43C50.06 625.43.16 610.35.14 571.88L0 82.94A82.9 82.9 0 0 1 82.9.02z" fill="#fff"/>
      <circle cx="281.86" cy="239.79" r="128.28" fill="#f7c554"/>
      <text transform="translate(379.75 497.21)" fill="#fff" font-size="135.96" font-family="JosefinSans-Bold,Josefin Sans" font-weight="700">
        <tspan class="D">B</tspan>
        <tspan class="E" x="84.56" y="0">A</tspan>
        <tspan x="172.39" y="0">CKA</tspan>
      </text>
      <text transform="translate(165.8 621.93)" fill="#fff" font-size="135.96" font-family="JosefinSans-Bold,Josefin Sans" font-weight="700">BOULDER</text>
    </svg>

    {{ partial "navigation" . }}
    <span>&nbsp;</span>
    {{ partial "translations" . }}
  </div>

  <div class="footer-section">
    <a href="https://www.facebook.com/Backa-Boulder-100431848484291/"><img src="{{ `images/f_logo_RGB-White_58.png` | relURL }}" width="30" class="social-media"/></a>
    <a href="https://www.instagram.com/backaboulder"><img src="{{ `images/instagram.png` | relURL }}" width="30" class="social-media"/></a>
    <br/>
    <address>
    {{ i18n "mailUs" }} <a href="mailto:info@backaboulder.se">info@backaboulder.se</a><br/>
    {{ i18n "callUs" }} <a href="tel:+46705758856">+46 (0)70 575 88 56</a><br/>
    </address>
  </div>
  <div class="footer-section">
    <a href="facebook.com"><img src="{{ `images/tram.png` | relURL }}" width="30" class="social-media"/></a>
    <br/>
    {{ i18n "visitUs" }}<br/>
    {{ i18n "weekdays" }} {{ .Site.Data.opening.weekdays }} {{ i18n "and" }} {{ i18n "weekends" }} {{ .Site.Data.opening.weekends }}<br/>
    Hållplats: Hjalmar Brantingsplatsen<br/>
    <address>
      <a href="https://goo.gl/maps/Ukk4G1FBQYxmT9haA">
        Herkulesgatan 1<br/>
        417 01 Göteborg<br/>
      </a>
    </address>
    <br/>
  </div>
</footer>