<header>
  <a href="/" id="top-logo"><img src="{{ `images/logo.svg` | relURL }}" alt="Backa boulder logotype" /></a>
  <nav>
    <ul>
      {{ with .GetPage "opening-hours" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .GetPage "courses" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .GetPage "prices" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
      {{ with .GetPage "contact" }}<li><a href="{{ with .GetPage "contact" }}{{ .Permalink }}{{ end }}">{{ .Title }}</a></li>{{ end }}
      -&emsp;
      {{ if .IsTranslated }}{{ range .Translations }}<li><a href="{{ .Permalink }}" class="translation">{{ .Language.Params.LanguageCode }}</a></li>{{ end }}{{ end }}
    </ul>
  </nav>
</header>
