<nav>
  <ul>
    {{ with .GetPage "about" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ with .GetPage "opening-hours" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ with .GetPage "courses" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ with .GetPage "prices" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ with .GetPage "contact" }}
    <li><a href="{{ with .GetPage "contact" }}{{ .Permalink }}{{ end }}">{{ .Title }}</a></li>
    {{ end }}
    -&emsp;
    {{ if .IsTranslated }}
    {{ range .Translations }}
    <li><a href="{{ .Permalink }}">{{ .Language.Params.LanguageCode }}</a></li>
    {{ end }}
    {{ end }}
  </ul>
</nav>