<nav>
  <ul>
    {{ with .GetPage "opening-hours" }}<li><a href="{{ .RelPermalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "prices" }}<li><a href="{{ .RelPermalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "current-events" }}<li><a href="{{ .RelPermalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "courses" }}<li><a href="{{ .RelPermalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "gallery" }}<li><a href="{{ .RelPermalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "faq" }}<li><a href="{{ .RelPermalink }}">{{ .Params.menuName }}</a></li>{{ end }}

    {{ $shortNames := .Scratch.Get "shortNames" }}
    {{ if .IsTranslated }}{{ range .Translations }}
    {{ if $shortNames }}
    <li><a href="{{ .RelPermalink }}" class="translation">{{ .Language.Params.LanguageCode }}</a></li>
    {{ else }}
    <li><a href="{{ .RelPermalink }}" class="translation">{{ .Language.Params.UseString }}</a></li>
    {{ end }}{{ end }}{{ end }}
  </ul>
</nav>
