<nav>
  <ul>
    {{ with .GetPage "/" }}<li><a href="{{ .Permalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "opening-hours" }}<li><a href="{{ .Permalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "courses" }}<li><a href="{{ .Permalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "prices" }}<li><a href="{{ .Permalink }}">{{ .Params.menuName }}</a></li>{{ end }}
    {{ with .GetPage "contact" }}<li><a href="{{ .Permalink }}">{{ .Params.menuName }}</a></li>{{ end }}
  </ul>
</nav>