<table>
  <thead>
  </thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <tr>
      <td>{{ i18n "singleEntrance" }}</td>
      <td class="price">{{ .Site.Data.prices.single }} kr</td>
    </tr>
    <tr>
      <td>10 {{ i18n "times" }}</td>
      <td class="price">{{ .Site.Data.prices.times10 }} kr</td>
    </tr>
    <tr>
      <td>25 {{ i18n "times" }}</td>
      <td class="price">{{ .Site.Data.prices.times25 }} kr</td>
    </tr>
    <tr>
      <td>6 {{ i18n "months" }}</td>
      <td class="price">{{ .Site.Data.prices.months6 }} kr</td>
    </tr>
    <tr>
      <td>12 {{ i18n "months" }}</td>
      <td class="price">{{ .Site.Data.prices.months12 }} kr</td>
    </tr>
    <tr>
      <td>Autogiro</td>
      <td class="price">{{ .Site.Data.prices.autogiro }} {{ i18n "perMonth" }}</td>
    </tr>
    <tr>
      <td>{{ i18n "shoeRental" }}</td>
      <td class="price">{{ .Site.Data.prices.shoe_rental }} kr</td>
    </tr>
    <tr>
      <td>{{ i18n "chalkRental" }}</td>
      <td class="price">{{ .Site.Data.prices.chalk_rental }} kr</td>
    </tr>
  </tbody>
</table>
